// Fonts
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// Colors

// Dark Blue
$darkblue: #080E2F;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
// Resume Button Green
$resumebutton: #507E81;
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);
// Job Descriptions
$jobdescription: #00C6C3;
// First Blue
$firstblue: #58a6ff;

* {
    margin: 0;
    body {
        background-color: $darkblue;
        .skills_section {
            background-color: $nextgreen;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .skill_circles {
                container-type: inline-size;
                font-family: 'Inter', sans-serif;
                font-weight: bold;
                font-size: clamp(1rem, 2rem, 3rem);
                color: white;
                display: flex;
                // when it's small
                // when big etch these out
                flex-direction: column;
                gap: 1ch;
                // first 6
                .first_six {
                    display: flex;
                    flex-direction: column;
                    gap: 1ch;
                    // first 3
                    .first_three {
                        display: flex;
                        gap: 1ch;
                        .back_circle {
                            background-color: $jobdescription;
                            .front_circle {
                               background-color: $darkblue;
                            }
                        }
                    }
                    // second 3
                    .second_three {
                        display: flex;
                        gap: 1ch;
                        .back_circle {
                            background-color: $jobdescription;
                            .front_circle {
                               background-color: $darkblue;
                            }
                        }
                    }
                }
                // second 6
                .second_six {
                    display: flex;
                    flex-direction: column;
                    gap: 1ch;
                    // third 3
                    .third_three {
                        display: flex;
                        gap: 1ch;
                        .back_circle {
                            background-color: $jobdescription;
                            .front_circle {
                               background-color: $darkblue;
                            }
                        }
                    }
                    // third 4
                    .fourth_three {
                        display: flex;
                        gap: 1ch;
                        .back_circle {
                            background-color: $jobdescription;
                            .front_circle {
                               background-color: $darkblue;
                            }
                        }
                    }
                }
            }
        }
    }
}